In [1]:
import pandas as pd
import numpy as np
import math
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

df = pd.read_csv('/Users/scrysam/Downloads/hotels.csv')
#df
df.describe()

,lead_time,n_weekend_nights,n_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,is_deposit,incl_breakfast,room_level,is_canceled
count,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.00000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000,56707.000000
mean,102.870369,0.893981,2.442802,1.850988,0.104185,0.008165,0.031354,0.044404,0.153526,0.22484,3.833865,98.325863,0.068334,0.548645,0.119809,0.900436,1.993405,0.358633
std,106.582358,0.983110,1.863548,0.498133,0.396580,0.099838,0.174275,0.396707,1.557271,0.66649,23.785668,49.955696,0.253296,0.761173,0.324741,0.299421,1.700286,0.479603
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,17.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,68.530000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
50%,68.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,90.950000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,160.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,120.000000,0.000000,1.000000,0.000000,1.000000,4.000000,1.000000
max,709.000000,19.000000,50.000000,4.000000,3.000000,10.000000,1.000000,13.000000,58.000000,21.00000,391.000000,5400.000000,3.000000,5.000000,1.000000,1.000000,12.000000,1.000000

In [2]:
#df['distribution_channel']
#df['hotel']
df = df.drop(columns=["distribution_channel"])
df = df.drop(columns=["country"])
df = df.drop(columns=["arrival_date"])
grouped = df.groupby(df.hotel) 
df_res = grouped.get_group("Resort Hotel")
df_res = df_res.drop(columns=["hotel"])
df_res

,lead_time,n_weekend_nights,n_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,is_deposit,incl_breakfast,room_level,is_canceled
0,109,0,1,2,0,0,0,0,0,0,0,59.94,0,1,0,1,1,0
1,109,0,1,2,2,0,0,0,0,0,0,116.10,1,1,0,1,8,0
2,2,0,1,2,0,0,0,0,0,0,0,89.00,0,1,0,1,4,1
3,88,0,2,2,0,0,0,0,0,0,0,73.46,0,2,0,1,1,0
4,20,0,2,2,2,0,0,0,0,0,0,119.00,0,0,0,1,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18562,132,2,6,2,0,0,0,0,0,0,0,47.98,0,2,0,1,1,0
18563,154,3,8,2,0,0,0,0,0,0,0,47.54,0,3,0,1,1,0
18564,147,8,20,2,0,0,0,0,0,0,0,59.08,0,1,0,1,5,0
18565,68,4,10,2,0,0,0,0,0,0,0,80.14,0,1,0,0,1,0
18566,148,8,20,2,0,0,0,0,0,0,0,67.82,0,0,0,1,4,0

In [3]:
#Error. You have given 'city hotel' all small letters, but actually it is 'City Hotel'
grouped = df.groupby(df.hotel) 
df_cty = grouped.get_group("City Hotel") 
df_cty = df_cty.drop(columns=["hotel"])
df_cty

,lead_time,n_weekend_nights,n_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,is_deposit,incl_breakfast,room_level,is_canceled
18567,119,0,1,2,0,0,0,0,0,1,0,74.25,0,0,0,1,1,1
18568,0,0,1,2,0,0,0,0,0,0,0,105.00,0,0,0,1,1,0
18569,0,0,1,2,0,0,0,0,0,0,0,86.00,0,0,0,0,1,0
18570,19,0,2,1,0,0,0,0,0,0,0,107.00,0,1,0,1,1,0
18571,30,0,2,2,0,0,0,0,0,0,0,92.00,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,17,2,5,2,0,0,0,0,0,0,0,90.34,0,1,0,0,1,0
56703,177,2,5,0,0,0,0,0,0,2,0,1.29,0,2,0,1,5,0
56704,107,2,5,2,0,0,0,0,0,0,0,103.57,0,0,0,1,1,0
56705,310,2,10,2,0,0,0,0,0,2,0,68.57,0,2,0,0,1,0
56706,310,2,10,2,0,0,0,0,0,2,0,68.57,0,2,0,0,1,0

In [4]:
X1 = df_res.drop(columns=['is_canceled'])
X1

,lead_time,n_weekend_nights,n_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,is_deposit,incl_breakfast,room_level
0,109,0,1,2,0,0,0,0,0,0,0,59.94,0,1,0,1,1
1,109,0,1,2,2,0,0,0,0,0,0,116.10,1,1,0,1,8
2,2,0,1,2,0,0,0,0,0,0,0,89.00,0,1,0,1,4
3,88,0,2,2,0,0,0,0,0,0,0,73.46,0,2,0,1,1
4,20,0,2,2,2,0,0,0,0,0,0,119.00,0,0,0,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18562,132,2,6,2,0,0,0,0,0,0,0,47.98,0,2,0,1,1
18563,154,3,8,2,0,0,0,0,0,0,0,47.54,0,3,0,1,1
18564,147,8,20,2,0,0,0,0,0,0,0,59.08,0,1,0,1,5
18565,68,4,10,2,0,0,0,0,0,0,0,80.14,0,1,0,0,1
18566,148,8,20,2,0,0,0,0,0,0,0,67.82,0,0,0,1,4

In [5]:
X2 = df_cty.drop(columns=['is_canceled'])
X2

,lead_time,n_weekend_nights,n_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,is_deposit,incl_breakfast,room_level
18567,119,0,1,2,0,0,0,0,0,1,0,74.25,0,0,0,1,1
18568,0,0,1,2,0,0,0,0,0,0,0,105.00,0,0,0,1,1
18569,0,0,1,2,0,0,0,0,0,0,0,86.00,0,0,0,0,1
18570,19,0,2,1,0,0,0,0,0,0,0,107.00,0,1,0,1,1
18571,30,0,2,2,0,0,0,0,0,0,0,92.00,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,17,2,5,2,0,0,0,0,0,0,0,90.34,0,1,0,0,1
56703,177,2,5,0,0,0,0,0,0,2,0,1.29,0,2,0,1,5
56704,107,2,5,2,0,0,0,0,0,0,0,103.57,0,0,0,1,1
56705,310,2,10,2,0,0,0,0,0,2,0,68.57,0,2,0,0,1
56706,310,2,10,2,0,0,0,0,0,2,0,68.57,0,2,0,0,1

In [6]:
y1 = df_res['is_canceled']
y1

0        0
1        0
2        1
3        0
4        1
        ..
18562    0
18563    0
18564    0
18565    0
18566    0
Name: is_canceled, Length: 18567, dtype: int64

In [7]:
y2 = df_cty['is_canceled']
y2

18567    1
18568    0
18569    0
18570    0
18571    0
        ..
56702    0
56703    0
56704    0
56705    0
56706    0
Name: is_canceled, Length: 38140, dtype: int64

In [10]:
x = X1.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
X1 = pd.DataFrame(x_scaled)

X1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.153738,0.000000,0.02,0.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.156094,0.0,0.2,0.0,1.0,0.000000
1,0.153738,0.000000,0.02,0.5,0.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.302344,0.5,0.2,0.0,1.0,0.636364
2,0.002821,0.000000,0.02,0.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.231771,0.0,0.2,0.0,1.0,0.272727
3,0.124118,0.000000,0.04,0.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.191302,0.0,0.4,0.0,1.0,0.000000
4,0.028209,0.000000,0.04,0.5,0.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.309896,0.0,0.0,0.0,1.0,0.545455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18562,0.186178,0.105263,0.12,0.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.124948,0.0,0.4,0.0,1.0,0.000000
18563,0.217207,0.157895,0.16,0.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.123802,0.0,0.6,0.0,1.0,0.000000
18564,0.207334,0.421053,0.40,0.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.153854,0.0,0.2,0.0,1.0,0.363636
18565,0.095910,0.210526,0.20,0.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.208698,0.0,0.2,0.0,0.0,0.000000
18566,0.208745,0.421053,0.40,0.5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.176615,0.0,0.0,0.0,1.0,0.272727

In [11]:
x = X2.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
X2 = pd.DataFrame(x_scaled)

X2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.190096,0.000,0.024390,0.50,0.0,0.0,0.0,0.0,0.0,0.047619,0.0,0.013750,0.0,0.0,0.0,1.0,0.000000
1,0.000000,0.000,0.024390,0.50,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.019444,0.0,0.0,0.0,1.0,0.000000
2,0.000000,0.000,0.024390,0.50,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.015926,0.0,0.0,0.0,0.0,0.000000
3,0.030351,0.000,0.048780,0.25,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.019815,0.0,0.2,0.0,1.0,0.000000
4,0.047923,0.000,0.048780,0.50,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.017037,0.0,0.2,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38135,0.027157,0.125,0.121951,0.50,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.016730,0.0,0.2,0.0,0.0,0.000000
38136,0.282748,0.125,0.121951,0.00,0.0,0.0,0.0,0.0,0.0,0.095238,0.0,0.000239,0.0,0.4,0.0,1.0,0.363636
38137,0.170927,0.125,0.121951,0.50,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.019180,0.0,0.0,0.0,1.0,0.000000
38138,0.495208,0.125,0.243902,0.50,0.0,0.0,0.0,0.0,0.0,0.095238,0.0,0.012698,0.0,0.4,0.0,0.0,0.000000
38139,0.495208,0.125,0.243902,0.50,0.0,0.0,0.0,0.0,0.0,0.095238,0.0,0.012698,0.0,0.4,0.0,0.0,0.000000

In [13]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2)
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2)

In [16]:
model = DecisionTreeClassifier()
model.fit(X1_train,y1_train)
predictions = model.predict(X1_test)

score = accuracy_score(y1_test, predictions)
score

0.808562197092084

In [27]:
model = DecisionTreeClassifier()
model.fit(X2_train,y2_train)
predictions = model.predict(X2_test)

score = accuracy_score(y2_test, predictions)
score

0.8180388044048243